:root {
    --primary-bg: #219ebc;
    --secondary-bg: #8ecae6;
    --tertiary-bg: #264653;
    --btn-primary: #0096c7;
    --btn-hover: #023e8a;
}

body {
    background-color: black;
    color: white;

    width: 100%;
    height: 100vh;

    margin: 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.1fr auto;

    background-color: var(--primary-bg);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
    grid-row: 1/2;
    grid-column: 1/3;

    height: 12vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 24px;
    font-weight: 600;

    background-color: var(--tertiary-bg);
}

.nav p {
    margin: 0;
    margin-left: 24px;
}

.left_side {
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    background-color: var(--secondary-bg);
}

.right_side {
    display: grid;
}

.custom_burgers {
    grid-row: 1/2;

}

.option_burgers {
    grid-row: 2/3;

}

.option_burgers,
.custom_burgers {
    overflow-y: auto;
}

.option_burgers ul,
.custom_burgers ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
}

.btn {
    border: none;
    border-radius: 16px;

    padding: 16px;
    margin: 48px;

    background-color: var(--btn-primary);
    color: white;

    font-size: 14px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.custom_burgers p,
.option_burgers p {
    text-align: center;

    font-size: 16px;
    font-weight: 600;
}

dialog {
    width: 250px;
    height: 325px;

    border-radius: 25px;
    border: none;

    background-color: var(--secondary-bg);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.788);
}

.container-option,
.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.container-option form,
.container-custom form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input,
select {
    width: 100%;
    height: 10%;

    border-radius: 15px;
    border: none;
    text-align: center;
    outline: none;

    background-color: #e5e5e5;
}

.btn-option,
.btn-custom,
.btn-close-option,
.btn-close-custom {
    width: 75%;
    height: 10%;

    border: none;
    border-radius: 15px;

    color: white;
    background-color: var(--btn-primary);
}

.btn-custom:hover,
.btn-option:hover,
.btn-close-option:hover,
.btn-close-custom:hover {
    background-color: var(--btn-hover);
}